/**/*.log
/**/.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/target
/**/test-output
dependency-reduced-pom.xml

\.idea/

src/main/java/com/custom/language/antlr4/generated/

src/main/java/com/custom/language/antlr4/\.antlr/

gen/com/custom/language/antlr4/generated/
